body{
    background-color: rgb(151, 151, 151);
    color: rgb(5, 5, 5);
}
h1{
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    text-align: center;
}
h2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: center;
}

p{
    font-family: 'Georgia', serif;
    font-size: 18px;
    padding: 10px;
    margin: 20px;
    text-align: center;
}
.container{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.column{
    flex: 1;
    padding: 10px;
}
@media (max-width: 600px) {
    .column{
        flex: 100%;
    }
    
}
.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: rgb(59, 59, 59);
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  
  .brand {
    display: flex;
    align-items: center;
  }
  
  
  li>a {
    padding: 8px 24px;
  }
  
  
  li {
    list-style-type: none;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  
  
  a {
    color: rgb(202, 202, 202);
    text-decoration:none;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 20px;
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  
  .button-menu-toggle {
    display: none;
  }
  .img-container{
    display: flex;
    flex-wrap: wrap;
  }
  .video-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px;
  }
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(59, 59, 59);
    justify-content: center;
    text-align: center;
    min-height: 200px;
  }
  @media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  
  
    .nav-links {
      display: none;
    }
  
  
    .button-menu-toggle {
      display: block;
      background-color: rgb(245, 242, 242);
      border:none;
      border-radius: 50px;
      padding: 10px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(226, 219, 219, 0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
  
  
    }
    .video-container{
      padding: 10px;
      gap: 5px;
    }
    iframe,video{
      max-width: 90%;
    }
  }